# Bỏ file môi trường
.env
.env.*

# Bỏ thư mục log
*.logs

# Bỏ cache Python
__pycache__/
*.pyc

# Bỏ thư mục node_modules (nếu project JS/TS)
node_modules/

project-data-engineer-469310-98e0c9323b28.json
